body{
    font-family: Arial, Helvetica, sans-serif; 
}
nav{
    display: flex;
    overflow: hidden;
    position: fixed;
    
    
}
.logo-container{
    float: left;

}
.container{
    padding-left: 290px;
}
.logo-img{
   width: 190px;
  
}

ul li{
    display:inline-flex;
    
    list-style:none;
   
}
li a {
    text-decoration: none ;
    color:gray;
    font-size:18px;
    margin :5px  36px   47px    9px;
    
    
}
li a:hover{
    text-decoration: underline;
    color:rgb(219, 3, 3);
}